.root {
    main-color: #788da5;
    -fx-background-color: main-color;
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
}
.text-field {
    -fx-border-color: #384655;
}


.button {
    -fx-background-color: #788da5;
    -fx-font: bold 16px "Verdana";
}

.button:hover {
    -fx-background-color:#47586b;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:#a2b1c2;
    -fx-font-size: 16px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: main-color;
    -fx-background-radius: 1em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}